.todo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.todo-inner-container {
  background-color: #2D3748; /* bg-zinc-800 */
  border-radius: 0.5rem;
  padding: 1rem;
}

.todo-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}


.new-list-input {
  margin: 1rem 1.5rem 1rem 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #d6d9de; /* text-zinc-900 */
}

.add-list-button, .logout-button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

.add-list-button {
  background-color: #48BB78; /* bg-green-500 */
  color: #FFFFFF;
}

.add-list-button:hover {
  background-color: #38A169; /* hover:bg-green-700 */
}

.logout-button {
  background-color: #E53E3E; /* bg-red-500 */
  color: #FFFFFF;
  margin-left: 0.5rem;
}

.logout-button:hover {
  background-color: #C53030; /* hover:bg-red-700 */
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
  width: 200vh;
}

.list {
  background-color: #4A5568; /* bg-zinc-600 */
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 1200px;
  margin: 1rem;
  width: 95vh;
}

.list-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.delete-list-button {
  background-color: #E53E3E; /* bg-red-500 */
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.delete-list-button:hover {
  background-color: #C53030; /* hover:bg-red-700 */
}

.new-task-input {
  margin: 1rem 1.5rem 1rem 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #cccccc; /* text-zinc-900 */
}

.new-task-select {
  margin: 1rem 1.5rem 1rem 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #adb4c1; /* text-zinc-900 */
}

.add-task-button {
  background-color: #48BB78; /* bg-green-500 */
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.add-task-button:hover {
  background-color: #38A169; /* hover:bg-green-700 */
}

.tasks-container {
  display: flex;
  /* width: 100vh; */
}

.priority-container {
  background-color: #1A202C; /* bg-gray-900 */
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  transition: background-color 0.2s;
}

.priority-container.is-dragging-over {
  background-color: #2D3748; /* darken on drag */
}

.priority-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.task {
  background-color: #718096; /* bg-zinc-400 */
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.task-title {
  font-size: 1.125rem; /* lg */
  font-weight: bold;
}

.task-description, .task-due-date {
  font-size: 1rem; /* base */
}

.delete-task-button {
  background-color: #E53E3E; /* bg-red-500 */
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

.delete-task-button:hover {
  background-color: #C53030; /* hover:bg-red-700 */
}
